.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  margin: auto;
  margin-top: 30px;
  padding-top: 40px;
  text-transform: uppercase;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ffffff;
  
}
.title {
  color: #777676;
  margin-top: 0;
  margin-bottom: 40px;
}
.statList {
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: center;
  padding: 0;
  width: 100%;
  margin: 0;
}

.statList li:nth-child(1){
  background-color: #4ec4f4;
}
.statList li:nth-child(2){
  background-color: #a23af5;
}
.statList li:nth-child(3){
  background-color: #e54c62;
}
.statList li:nth-child(4){
  background-color: #20b7c5;
}
.statList li:nth-child(5){
  background-color: #c5cc5d;
}

.item {
  color: white;
  text-align: center;
  list-style: none;
  width: 80px;
  background-color: rgb(219, 127, 127);
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.label {
  text-transform: lowercase;
  display: block;
  margin-bottom: 6px;
}
.percentage {
  font-size: 20px;
}






