

.friendsList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 270px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ffffff;
  
}



.item{
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.name {
  display: block;
  font-size: 20px;
  margin: 0;


}
.avatar {
  background-color: antiquewhite;
  border-radius: 6px;
}

.status {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.statusTrue {
  background-color: green;
}

.statusFalse {
  background-color:red;
}