.transactionHistory {
  gap: 10px;
  width: 600px;
  margin: auto;
  margin-top: 30px;
  padding: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ffffff;
  border-collapse: collapse;
}


.transactionHistory thead {
  background-color: #00bcd5;
  border: 0;
  text-transform: uppercase;
  color: #ffffff;
}
.transactionHistory tbody {
color: #636466

}
.transactionHistory tr:nth-child(2n){
  background-color: #ecf1f4;
}
.transactionHistory th {
  width: 200px;
  padding: 10px;
  border: 1px solid rgb(224, 221, 221)
}

.transactionHistory td {
  
  text-transform: capitalize;
  text-align: center;
  width: 200px;
  padding: 10px;
  border: 1px solid rgb(224, 221, 221)
}



.transactionHistory tr:first-child th {
  border-top: 0;
}
.transactionHistory tr:last-child td {
  border-bottom: 0;
}
.transactionHistory tr td:first-child,
.transactionHistory tr th:first-child {
  border-left: 0;
}
.transactionHistory tr td:last-child,
.transactionHistory tr th:last-child {
  border-right: 0;
}